@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0f1c;
  --foreground: #ffffff;
  --cyber-blue: #00f0ff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
